## Ignore Everything
/*

## Files
!/gradlew
!/gradlew.bat
!/.gitignore
!/README
!/*.MD
!/build.gradle
!/settings.gradle
!/LICENSE
!/EXPERIMENTAL.md
!/.gitmodules
!/.travis.yml

## Folders
!/src
!/gradle